<h1>New Discipline</h1>

<%= render 'form', discipline: @discipline %>

<h3>Current Disciplines</h3>

<% @disciplines = Discipline.all %>
<% @disciplines.each do |disc| %>
    <%= disc.title %>
    <br/>
<% end %>
