<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Quizzium, <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      You have successfully signed up to quizzium,
      your username is: <%= @user.edu_email %>.<br>
    </p>
    <p>If you requested a role other than viewer, we will review your request and notify you when a decision has been made.</p>
    <p>
      To verify your .edu email, please follow this link: <%= link_to 'Verify', confirm_url(id: @user.id, confirmation_token: @confirmation_token) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>