<h2>Log in</h2>

<%= button_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<br/>
<br/>
<%= button_to "Sign in with Microsoft", user_azure_oauth2_omniauth_authorize_path %>
<br/>




